{# templates/layout.html.twig #}

{% extends '@MazariniBootstrap/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"/>
{% endblock stylesheets %}

{% block first_bar_container %}
	<div class="list-group">
		<a href="{{ path('homepage') }}" class="list-group-item list-group-item-action">
			Home
		</a>
		{% if app.user %}
			<a href="{{ path('profile_show') }}" class="list-group-item list-group-item-action">
				{{ app.user.username }}
			</a>
			<a href="{{ path('security_logout') }}" class=" list-group-item list-group-item-action">
				Logout
			</a>
		{% else %}
			<a href="{{ path('security_login') }}" class="list-group-item list-group-item-action">
				Login
			</a>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('user_index') }}" class="list-group-item list-group-item-action">
				User
			</a>
		{% endif %}
	</div>
{% endblock first_bar_container %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock javascripts %}

{% block modal %}
	{% if data.isSetEntity %}
		{% include '@MazariniCrud/_delete_form.html.twig' with {'modal_id': 'modalDeleteId'} %}
	{% endif %}
{% endblock modal %}
