{# templates/layout.html.twig #}

{% extends '@MazariniBootstrap/layout.html.twig' %}

{% block first_bar_container %}
	<div class="list-group">
		<a href="{{ path('homepage') }}" class="list-group-item list-group-item-action">
			Home
		</a>
		{% if app.user %}
			<a href="{{ path('profile_show') }}" class="list-group-item list-group-item-action">
				{{ app.user.username }}
			</a>
			<a href="{{ path('security_logout') }}" class=" list-group-item list-group-item-action">
				Logout
			</a>
		{% else %}
			<a href="{{ path('security_login') }}" class="list-group-item list-group-item-action">
				Login
			</a>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('user_index') }}" class="list-group-item list-group-item-action">
				User
			</a>
		{% endif %}
	</div>
{% endblock first_bar_container %}

{% block modal %}
	{% if data.isSetEntity %}
		{% include '@MazariniCrud/_delete_form.html.twig' with {'modal_id': 'modalDeleteId'} %}
	{% endif %}
{% endblock modal %}
